<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/debug/app.log"
            archiveFileName="${basedir}/debug/archive/app.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            archiveAboveSize="5242880"
            encoding="utf-8"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
