<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
    <add key="maaxyz.github.io" value="https://maaxyz.github.io/pkg/nuget/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Maa.*" />
    </packageSource>
    <packageSource key="maaxyz.github.io">
      <package pattern="Maa.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>